@charset "UTF-8";

/* 상단 메뉴 구역 */
.topbox{
	display: flex;
	justify-content: space-between;
	margin: 1%;	
}
.searchbtn , .registerbtn{
	width: 100px;
	background-color: #5697A6;
	color: white;
	border: none;
	border-radius: 50px;
	padding :5px;
	margin: 15px;
}
/* 품목 리스트 출력 구역 */
.itemlistbox {
	width: 100%;
	margin: 1% auto;
}
.updatebtn, .deletebtn{
	width: 80px;
	background-color: #5697A6;
	color: white;
	border: none;
	align-content: center;
	font-size: 15px;
	padding :5px;
	margin: 5px;
}
/* 모달 배경 설정*/
.modalregister, .modalupdate, .modaldelete {
	position: fixed;				
	top:0 ; left:0;
	width:100% ; height: 100%;
	background-color: rgba(173,173,173,0.5);	
	display:flex;
	justify-content: center;				
	align-items: center;					
	z-index: 1030;							
	display: none;
}
/* 모달 기본 설정*/
.modal_box{
	text-align: center;align-items: center;
	background-color: white;
	width: 50%; height: 90%;
	padding: 3%; border-radius: 50px;
}
.modal_box_delete{
	text-align: center;align-items: center;
	background-color: white;
	width: 45%; height: 30%;
	padding: 3%; border-radius: 50px;
}
.modal_title{
	font-weight: bold;
	font-size: 23px;
	margin-bottom: 30px;
}
.modal_content{
	margin: 1%;
	font-size: 20px;
}
.title{
	display:flex;
	justify-content: space-between;
	font-size: 17px;
	margin: 2%;
}
.modal_content input  {
	width: 70%;
	height:40px;
	padding-left: 10px;
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	text-align:center;	
	margin-right: 50px;
}
.product_content{
	width: 70%;
	height:80px;
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	margin-right: 50px;	
}
.modal_content select, option{
	width: 70%;
	height:40px;
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	text-align:center;
	margin-right: 50px;
}
input[type=file]::file-selector-button{
	border: none;
	background-color:#eeeeee;
	margin: 8px;
}