@charset "UTF-8";


.category_name{
	font-weight: bold;
	margin: 30px 30px;
}
.bind{
	display: flex;
}
/* 사이드바 출력 구역 */
.list-group{
	width: 200px;
}
.list-group-item.active{
	background-color: #79DCF2 !important;
	border-color: #79DCF2 !important;
}
/* 제품 목록 출력 구역*/
.product_wrap{
	width: 100%;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	margin: 2%;
}
/* 제품 1개 */
.soldout{
	width: 20%;
	margin: 1%;
	text-align: center;
	opacity:60%;
}
.soldoutmark{
	margin: 2%;
	font-weight: bold;
	color:red;
}
.item{
	width: 20%;
	margin: 1%;
	text-align: center;
}
.item:hover {
	opacity: 60%;
}
.product_img{
	width: 100%;
	height: 150px;
	margin: 1%;
}
.pname{
	font-weight: bold;
	font-size: 15px;
	margin: 2%;
}

.mini_logo{
	width: 18px;
	height: 18px;
}
.mini_mark{
	color: brown;
	font-size: 13px;
	font-weight: bold;
}
.date{
	margin: 2%;
	font-weight: bold;
	color: #5697A6;
}