@charset "UTF-8";


/* 사용자 / 관리자 선택박스  */
.main{
	display: flex;
	justify-content: center;
}
.box{
	width  : 500px;
	height : 500px;
	background-color : #eeeeee;
	margin : 10px;
	text-align: center;
}

/* header? */
.wrap{
	height : 110px;
	border : 1px solid #eeeeee;	
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 20px;
}
.header{
	display: flex;
}
button{
	width: 160px;
	padding: 10px;
}