@charset "UTF-8";

.pagetitle{
	margin-top: 70px;	background-color: rgb(41, 72, 80);
	color: white;
	padding: 10px;
	font-weight: bold;
}

th{
	background-color: #5697A6;
	color : white;
}

.stocklistbox button, .searchbtn, .setbtn{
	width:100px;
	border: none;
	background-color: rgb(41, 72, 80);
	color:white;
}
.stockmanagementtype{
	background-color: #5697A6;
	border: none;
}
input[type=text]{
	width: 80px;
}
input[type=datetime-local]{
	width: 200px;
}
.inputbox td, .topbox{
	padding: 1%;
	background-color: #F2F2F2;
}
select{
	border:none;
	background-color: #F2F2F2;	
}
.Page{
	text-align: center;
}

.droplist td{
	background-color: #F2F2F2;
}
.dropbtnbox{
	text-align: right;
}
.dropbtn{
	width:100px;
	border: none;
	background-color: red;
	color:white;	
	padding: 10px;
}