@charset "UTF-8";

th{
	background-color: #5697A6;
	color : white;
}
.inputbox td{
	background-color:#F2F2F2;
}

.stocklistbox button{
	width:100px;
	border: none;
	background-color: #5697A6;
	color:white;
}
.stockmanagementtype{
	background-color: #5697A6;
	border: none;
}
input[type=text]{
	width: 80px;
}
input[type=datetime-local]{
	width: 200px;
}
.topbox{
	padding: 1%;
	background-color: #F2F2F2;
}
.setbtn{
	width: 100px;
}
.Page{
	text-align: center;
}
